# ingnore all back-ups
*.bak

# ignore all logs
*.log

# ignore .zip
*.zip

# ignore path current config (local copy)
.config

# ignore the settings specific to the CDT
.cproject

# ignore where Eclipse starts whenever it opens up the project: it tells the workbench what plugins are needed.
.project

# ignore Build, Obj & Archive directories
build/
obj/
archive/

notes.txt

